.key-phrases-display {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Montserrat';
    color: white;
    padding: 10px;
}

.sentiment-header {
    font-family: 'Montserrat';
    color: white;
}