.article-display {
    height: auto;
    width: 100%;
    margin-top: 10vh;
    margin-bottom: 10vh
}

.img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 100%;
}

.headlines {
    color: black;
    margin: 2vh 8vw 4vh 8vw;
    font-weight: bold;
    font-size: 3vh;
    text-align: left;
    font-family: 'Montserrat'
}

.article-nav-button-bar {
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.article-nav-buttons {
    border-radius: 20px;
    border: rgb(50,143,255) solid .5px;
    color: rgb(50,143,255);
    background-color: transparent;
    font-family: 'Montserrat';
    font-size: 3vh;
    margin: 0vh 3vw;
    padding: 1vh;
    width: 20vw
}

#view-article-button {
    width: 40vw
}

.article-nav-buttons:hover {
    cursor: pointer;
}

.text-and-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#article-remove-button {
    width: 30vw;
}

@media (min-width: 1000px){
    .article {
        display: flex;
        align-items: flex-start;
        margin: 6vh;
    }

    .img{
        height: 30vh;
        width: auto;
        margin-right: 6vh;
    }

    .article-nav-button-bar {
        margin-top: 10vh;
        width: 98%;
    }
    
    .analysis-button-bar {
        width: 98%;
    }

    .article-nav-buttons {
        border-radius: 20px;
        border: rgb(50,143,255) solid .5px;
        color: rgb(50,143,255);
        background-color: transparent;
        font-family: 'Montserrat';
        font-size: 3vh;
        margin: 0vh 3vw;
        padding: 1vh;
    }
    
    #view-article-button {
        width: 20vw
    }

}