.logo {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.header {
    height: 9vh;
    width: 100vw;
    background-color: rgb(50,143,255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 5;
}

#nav-buttons-dropdown {
    display: flex;
    flex-direction: column;  
    height: 100vh;
    z-index: 5;
}

.link {
    border: 0;
    padding: 0;
    outline: none;
    background-color: transparent;
    margin: 40px;
    color: white;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

.link:hover{
    cursor: pointer
}

#menu-hamburger-icon {
    margin-right: 40px;
    color: white
}

#menu-hamburger-icon:hover {
    cursor: pointer;
}

.dropdown-menu {
    background-color: rgb(50,143,255);
    overflow: hidden;
    position: absolute;
    top: 6vh;
    right: 0; 
    border: none;
    display: flex;
    flex-direction: column;  
    height: 100vh;     
}

#login-button {
    border: 0;
    padding: 0;
    outline: none;
    background-color: transparent;
    margin: 20px;
    color: white;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

#login-button:hover {
    cursor: pointer;
}

.login-field {
    display: flex;
    align-items: center;
}

.login-input {
    height: 5vh;
    width: 15vw;
    position: relative;
    margin: 1vw;
    font-size: 2.8vh;
    padding: 2vh;
    border: .5px solid rgb(50,143,255);
    border-radius: 15px;
    color: black;
    font-family: 'Montserrat';
}

#nav-buttons-landing {
    padding-right: 10px;
    background-color: transparent;
    position: absolute;
    right: 0px;
}

.nav-link {
    height: 5vh;
    border: none;
    padding: 0;
    outline: none;
    background-color: transparent;
    margin-right: 5px;
    margin-left: 10px;
    color: white;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;

}

.nav-link:hover {
    cursor: pointer;
}

  
@media (max-width: 600px){
    .header {
        height: 6vh;
    }

    .logo {
        margin-left: 30px;
    }

    #nav-menu {
        display: none;
    }    

    .login-input {
        height: 3vh;
        font-size: 1.7vh;
        padding: .7vh;
    }


}

@media (min-width: 600px) and (max-width: 1000px){
    .logo {
        font-size: 35px;
        margin-left: 40px
    }
    .link {
        font-size: 20px;
    }

    .dropdown-menu {
        position: absolute;
        top: 9vh;
        right: 0;
        width: 35vw;        
    }

    #nav-menu {
        display: none;
    }

    .nav-link {
        height: 8vh;
        font-size: 20px;
    }
}

@media (min-width: 1000px) {
    #menu-hamburger-icon {
        display: none;
    }

    .header {
        height: 10vh;
    }

    .logo {
        position: relative;
        left: 30px;
        font-size: 40px;        
    }


    #nav-buttons {
        padding-right: 30px;
        background-color: transparent;
        position: absolute;
        right: 0px;
        bottom: 0px
    }

    #nav-buttons-landing {
        padding-right: 30px;
    }

    .nav-link {
        height: 9vh;
        font-size: 20px;
    }

    .dropdown-menu {
        display: none;
    }
}