.register-form {
    position: absolute;
    top: 40vh;
    height: auto;
}

.register-input {
    height: 5vh;
    width: 15vw;
    position: relative;
    margin: 1vw;
    font-size: 2.8vh;
    padding: 2vh;
    border: .5px solid rgb(50,143,255);
    border-radius: 15px;
    color: black;
    font-family: 'Montserrat';
}