#register-form {
    position: relative;
    top: 12vh;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#register-greeting {
    font-family: 'Montserrat';
    color: rgb(50,143,255)
}

.register-input {
    height: 3vh;
    width: 40vw;
    position: relative;
    margin: 1vw;
    font-size: 2vh;
    padding: 2vh;
    border: .5px solid rgb(50,143,255);
    border-radius: 15px;
    color: black;
    font-family: 'Montserrat';
}

#register-button {
    height: 5vh;
    width: 15vw;
    border: none;
    background: rgb(50,143,255);
    color: white;
    font-family: 'Montserrat';
    font-size: 2.5vh;
    border-radius: 15px;
    margin-left: 4vw;
}

#register-button:hover {
    cursor: pointer;
}

#cancel-button {
    height: 5vh;
    width: 15vw;
    border: rgb(50,143,255) .5px solid;
    background: white;
    color: rgb(50,143,255);
    font-family: 'Montserrat';
    font-size: 2.5vh;
    border-radius: 20px;
    margin-right: 4vw;
}

#cancel-button:hover {
    cursor: pointer;
}

#register-nav-buttons {
    display: flex;
    justify-content: center;
}

@media(max-width: 600px){
    .register-input{
        width: 60vw
    }
    #register-button {
        width: 30vw;
    }

    #cancel-button {
        width: 30vw;
    }
}