.single-article-body{
    position: relative;
    top: 15vh;
}

#article-info-display {
    height: 75vh;
    width: 90vw;
    margin: 0 5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 5vh
}

.article-image {
    height: 50vh;
    max-width: auto;
}

.image-headline {
    display: flex;
    align-items: flex-start;
}

.analysis-footer {
    height: 5vh;
    width: 100%;
    background-color: rgb(50,143,255);
    z-index: 5;
    position: fixed;
    bottom: 0;
    padding: 3vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.analysis-buttons {
    border: none;
    background-color: transparent;
    color: white;
    font-family: 'Montserrat';
    font-size: 2.5vh;
    height: 5vh;
    width: 33.3333333%;
}

.analysis-buttons:hover {
    cursor: pointer;
    background: rgb(0, 112, 250);
}

.article-title {
    font-family: 'Montserrat';
    font-size: 5vh;
    font-weight: bold;
    margin-bottom: 3vh;
    margin-top: 3vh;
    text-align: right;
    padding-left: 10vh;
}

.article-text {
    font-family: 'Montserrat';
    font-size: 3vh;
    margin-top: 5vh;
    text-align: right;
    padding-left: 10vh;
}

.single-article-action-buttons {
    margin-top: 10vh;
    margin-left: 2vw;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-evenly;
}

.text-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.read-article-button {
    margin-bottom: 2vh;
    margin-top: 2vh;
    color: rgb(50,143,255);
    border: .5px solid rgb(50,143,255);
    background-color: white;
    height: 6vh;
    width: 20vw;
    border-radius: 20px;
    font-family: 'Montserrat';
    font-size: 3.5vh;
}

#single-article-save-button {
    margin: 2vh;
    color: rgb(50,143,255);
    border: .5px solid rgb(50,143,255);
    background-color: white;
    height: 6vh;
    width: 10vw;
    border-radius: 20px;
    font-family: 'Montserrat';
    font-size: 3.5vh;
}

.article-link {
    color: rgb(50,143,255);
    text-decoration: none;
}

#analysis {
    background-color: rgb(50,143,255);
    height: 200%;
    width: 100%;
    position: relative;
    bottom: 5vh;
}

.entities-table {
    padding: 10vh 15vw;
    margin-left: 15vw;
    margin-right: 15vw;
    width: 70vw;
}

.entities-table-header {
    font-family: 'Montserrat';
    font-size: 4vh;
    font-weight: bold;
    color: white;
}

.entities-property {
    margin: 2vh;
}

#text-td {
    width: 10vw;
    height: auto;
    padding: 2vh 0;
    overflow-wrap: normal;
    margin: 2vh;
}

#type-td {
    width: 30vw;
}

.entities-tr {
    color: white;
    font-family: 'Montserrat';
}

.key-phrases-table {
    padding: 10vh 15vw;
    margin-left: 15vw;
    margin-right: 15vw;
    width: 70vw;
}

.key-phrases-property {
    padding: 2vh 6vw;
}

.key-phrases-table-header {
    font-family: 'Montserrat';
    font-size: 4vh;
    font-weight: bold;
    color: white;
    padding: 0vh 5vw;
}

.entities-property {
    margin: 2vh;
}

 @media(max-width: 600px){
    .single-article-body {
        top: 10vh
    }

    .article-image {
        height: auto;
        max-width: 75vw;
        margin-right: 5vw;
    }

    #article-info-display {
        display: flex;
        flex-direction: column;
        margin: none
    }
    
    .article-title {
        font-family: 'Montserrat';
        font-size: 5vh;
        font-weight: bold;
        margin-bottom: 3vh;
        text-align: center;
        padding-left: none;
    }
    
    .article-text {
        font-family: 'Montserrat';
        font-size: 3.5vh;
        margin-top: 5vh;
        text-align: center;
    }


    .read-article-button {
        margin-bottom: 10vh;
        margin-top: 2vh;
        height: 6vh;
        width: 60vw;
    }

    
    .analysis-footer {
        height: 5vh;
        width: 100vw;
        background-color: rgb(50,143,255);
        z-index: 5;
        position: fixed;
        bottom: 0;
        padding: 3vh;
        display: flex;
        /* flex-direction: column; */
        align-items: center;
        justify-content: space-evenly;
    }

    
    #analysis {
        background-color: rgb(50,143,255);
        height: 900%;
        width: 100vw;
        position: relative;
        top: -4vh
    }

        
    .entities-table {
        padding: 1vh 1vw;
        margin-left: 5vw;
        margin-right: 5vw;
        width: 90vw;
    }

    .entities-table-header {
        font-family: 'Montserrat';
        font-size: 2.5vh;
        font-weight: bold;
        color: white;
        word-wrap: normal;
        padding-left: 5vw;
        padding-right: 2vw
    }

    .entities-property {
        padding-left: 5vh;
    }

    #text-td {
        width: 10vw;
        height: auto;
        padding: 2vh 0;
        overflow-wrap: normal;
        margin: 2vh;
    }

    #type-td {
        width: 0;
    }

    .entities-tr {
        color: white;
        font-family: 'Montserrat';
    }

    .key-phrases-table {
        padding: 1vh 5vw;
        margin-left: 1vw;
        margin-right: 1vw;
        width: 90vw;
    }

    .key-phrases-property {
        padding: 0vh 0vw;
    }

    .key-phrases-table-header {
        font-family: 'Montserrat';
        font-size: 4vh;
        font-weight: bold;
        color: white;
        padding: 0vh 4vw;
    }

    .entities-property {
        margin: 1vh;
    }
 }